body{
    background-color: lightskyblue;
}
.row{
    margin-bottom: 20px;
    padding: 20px;
    background-color: lightskyblue;
}
.col{
    background-color: lightskyblue; 
}
.col-4{
    background-color: lightskyblue; 
}
.col-8{
    background-color: lightskyblue; 
}
.container{
    margin-top:20px;
    border-radius: 15px;
    margin-bottom:20px;
}
#conteudo{
    background-color:#EE4251;
}
.corfundobotao{
    background-color: #737373;
    color: : #black;
    border-color: : #737373;
}
.corfundobotao:hover{
    background-color: #737373;
    color: ;
    border-color: ;
}